@{
    ViewBag.Title = "Main";
}
<input type="hidden" value="@ViewBag.id" id="id" />
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Home page
                </h1>
                <small>Landing page</small>
            </div>
        </div>
    </div>
    
</div>
