<form id="my-awesome-dropzone" class="dropzone" action="@Url.Action("FileUploadHandler", "Electronics")" method="post" enctype="multipart/form-data">
   <div data-bind="text:name"></div>
    <input type="text" name="myName" />
     <div id="dropzonePreview" class="dz-default dz-message">
    </div>
</form>

@section Styles {
    @Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")
}
@section Scripts{
@Scripts.Render("~/plugins/knockout")
    @Scripts.Render("~/plugins/dropZone")
    <script>
        function VM() {
            var self = this;
            self.name = ko.observable("Irfan");
        };
        $(document).ready(function () {
            ko.applyBindings(new VM());
            Dropzone.options.myAwesomeDropzone = { 

                autoProcessQueue: false,
                uploadMultiple: true,
                parallelUploads: 100,
                maxFiles: 100,
                addRemoveLinks: true,
                clickable:'#dropzonePreview',
                init: function () {
                    var myDropzone = this;
                    this.element.querySelector("button[type=submit]").addEventListener("click", function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        myDropzone.processQueue();
                    });
                    this.on("sendingmultiple", function () {
                        // Gets triggered when the form is actually being sent.
                        // Hide the success button or the complete form.
                    });
                    this.on("successmultiple", function (files, response) {
                        // Gets triggered when the files have successfully been sent.
                        // Redirect user or notify of success.
                    });
                    this.on("errormultiple", function (files, response) {
                        // Gets triggered when there was an error sending the files.
                        // Maybe show form again, and notify user of error
                    });
                }

            }
        });
        
    </script>
}




