<div id="vm1">
    <button data-toggle="modal" data-target="#report">click kro</button>

    <div class="modal inmodal fade" id="report" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated ">
                
                <div class="modal-body">
                    This is body
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">cancel</button>
                    <button type="button" data-bind="click: rep" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>
@*<div id="vm2">
    <div data-bind="text:sample"></div>
</div>*@


@section Scripts{
    @Scripts.Render("~/plugins/knockout")
    <script>
        function VM1() {
            var self = this;
            self.rep = function () {
                console.log("done");
            }
        }
        function VM2() {
            var self = this;
            self.sample = "irfan watoo";
        }
        $(function () {
            ko.applyBindings(new VM1());
           // ko.applyBindings(new VM1() , document.getElementById('vm1'));
           // ko.applyBindings(new VM2(), document.getElementById('vm2'));
        });

    </script>
}




