@{
    ViewBag.Title = "ProjectDetail";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Project detail</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li class="active">
                <strong>Project detail</strong>
            </li>
        </ol>
    </div>
</div>

        <div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-md-3">jdkasjflaksd</div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <a href="#" class="btn btn-white btn-xs pull-right">Edit project</a>
                                <h2>Contract with Zender Company</h2>
                            </div>
                            <div>kajdskfajds fahsdf jasd fsdakfadsf ajdads hsdafajksdhfa sdhfajsdfhasdjfhasdjfhk</div>

                        </div>
                    </div>
                    <div class="ibox-footer" style="margin-top:14px">
                        <span class="pull-right">
                            <i class="fa fa-clock-o"></i> <span data-bind="text:time"></span>
                        </span>
                        Views (<span data-bind="text:views"></span>) -  wishlist (34) - <span data-bind="click: function(){ return report(id,loginUserId)}"><span data-bind="style:{color: isReported()? 'red' : 'gray'}"> <i class="fa fa-flag"></i> </span> Report </span>(<span data-bind="text:reportedCount()"></span>)

                    </div>

                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">


                                <div class="panel-body">

                                    <div class="tab-content">
                                        <div class="feed-activity-list">
                                            <div class="feed-element">
                                                <a href="#" class="pull-left">
                                                    <img alt="image" class="img-circle" src="~/Images/a2.jpg">
                                                </a>
                                                <div class="media-body ">
                                                    <small class="pull-right"><a class="btn btn-white btn-xs pull-right">Delete</a><a class="btn btn-white btn-xs pull-right">Edit</a></small>
                                                    <strong>Mark Johnson</strong> posted message on <strong>Monica Smith</strong> site. <br>
                                                    <small class="text-muted">Today 2:10 pm - 12.06.2014</small>
                                                    <div class="well">
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                                        Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                                    </div>
                                                    <div class="actions">
                                                        <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Vote up </a>
                                                        <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-down"></i> Vote down </a>
                                                    </div>
                                                    <div style="margin:8px">
                                                        this is reply - 
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">this is 3</div>
    </div>
</div>
